@mixin  pseudoTriangle($size, $side, $color : #4B55C1, $left : 0, $top : 0) {

    &::after {
        content: '';
        border: $size solid transparent;
        border-#{$side}-color: $color;
        left: $left;
        top: $top;
        position: absolute;
        
    }
}

@mixin navHover($bottom : 0) {
    &::before {
        content: '';
        position: absolute;
        bottom: $bottom;
        height: 3px;
        background-color: $primary-color;
        width: 0%;
        transition: width 250ms ease;
    }
    &:hover:before {
        width: 100%;
    }
}