@import "variable.scss";
@import 'mixin.scss';


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: $third-color;
    color: $primary-color;
    font-family: $primary-font;

    .logo {
        font-weight: 800;
        a {
            text-decoration: none;

            h1 {
                color: $primary-color;
                font-weight: 800;

                

                span {
                    display: inline-block;
                    color: $fourth-color;
                }
            }
        }
        
    }


    .nav__ul {
        display: flex;
        // border: 1px solid red;
        justify-content: flex-end;
        align-items: center;

        


        .search {
            position: relative;
            display: flex;
            justify-content: center;
            // border: 1px solid red;
            // overflow: hidden;


            .search-result {
                position: absolute;
                width: 100%;
                top: 100%;
                background-color: white;
                color: black;
                // border-radius: 20px;
                border-bottom-left-radius: $border-radius-bold;
                border-bottom-right-radius: $border-radius-bold;
                z-index: 999;

                ul {
                    li {
                        border: 1px solid $lightgray;
                        list-style: none;
                        height: 2rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;

                        &:hover {
                            background-color: rgb(231, 231, 231);
                            cursor: pointer;
                        }

                        

                        &:not(:last-child) {
                            border-bottom: none;
                        }

                        &:last-child {
                            border-bottom-left-radius: $border-radius-bold;
                            border-bottom-right-radius: $border-radius-bold;
                        }
                    }
                }
            }
            

            input {
                transition: width 100ms ease;
                height: 2rem;
                width: 2rem;
                border-radius: $border-radius-bold;
                border: none;
                font-size: 1rem;
                outline: none;
                pointer-events: none;

                &.show {
                    border-radius: $border-radius-bold;
                    pointer-events: all;
                    width: 300px;
                    padding: 0 .7rem 0 2rem;
                }
                &.result-show {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }

            .search__logo {
                position: absolute;
                right: .5rem;
                top: 50%;
                transform: translateY(-50%);
                color: $secondary-color;
                cursor: pointer;

                &.show {
                    right: 91%;
                }
            }
        }

        .nav__list {
            list-style: none;
            font-weight: 600;

             &:nth-child(1) {
                 margin: 0 1rem;
             }
             &:nth-child(2) {
                margin: 0 .5rem;
            }

            &.img-profile {
                position: relative;

                .img {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    background: lightgray;
                    cursor: pointer;
                }


                .menu__list {
                    position: absolute;
                    // border: 1px solid red;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    bottom: -8rem;
                    width: 300%;
                    right: 0;
                    left: auto;
                    color: $primary-color;
                    background-color : $third-color;
                    border-radius: $border-radius-light;
                    // overflow: hidden;
                    height: 100px;
                    opacity: 0;
                    pointer-events: none;
                    transform: translateY(-20%);
                    transition: all 200ms ease;
                    z-index: 999;
                    @include pseudoTriangle(.6rem, bottom, $color : $third-color, $top : -1rem, $left : 75%);

                    &.show {
                        opacity: 1;
                        transform: translateY(0);
                        pointer-events: all;
                    }
                    
                    li {
                        width: 100%;
                        flex: 1;
                        height: 35%;
                        display: flex;
                        align-items: center;
                        padding: 0 1rem;
                        justify-content: flex-start;
                        cursor: pointer;
                        font-size: .9rem;
                        border-radius: $border-radius-light ;

                        &:hover {
                            background-color: $shadow-color;
                        }
                    }

                    
                }
            }
           
        }

        
    }

    @media only screen and (max-width: 700px) {
        .nav__list.name {
            display: none;
        }

        .nav__list.search {
            input {
                &.show {
                    width: 200px;
                }
            }

            .search__logo.show {
                right: 85%;
            }
        }
        
    }

    
}