$primary-color : #fff;
$secondary-color : #272727;
$third-color : #4B55C1;
$fourth-color : #FA607F;
$shadow-color : #3A44A8;

$primary-font :  "Montserrat", sans-serif;

$border-radius-light : 5px;
$border-radius-bold : 18px