$primary-color : #fff;
$secondary-color : #272727;
$third-color : #6C63FF;
$fourth-color : #FA8F8F;
$shadow-color : #3A44A8;
$lightgray : #A9A9A9;

$primary-font :  "Montserrat", sans-serif;

$border-radius-light : 5px;
$border-radius-bold : 18px